In [1]:
# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import plotly.express as px
import plotly.io as pio
import plotly
from ydata_profiling import  ProfileReport
import PyQt5 as qt
from IPython.display import display, Markdown
#Enable graphing inside jupytor
#pip install PyQt5 #Install it if not installed
get_ipython().run_line_magic('matplotlib', 'inline')
matplotlib.get_backend()

'module://matplotlib_inline.backend_inline'

In [3]:
# Load Data

In [4]:
df = pd.read_excel('maintenance_cleaned.xlsx')

In [5]:
# Analyze DataSet function

In [6]:
def analyzeDataSet(DataSet,state):
    print('Display data')
    print(DataSet.head(3))
    print('Data Info')
    print(DataSet.info())
    print('Describe Data')
    print(DataSet.describe().round(2))
    print('DataFrame for Information about Dataset')
    information_DataSet = pd.DataFrame({"name": DataSet.columns,
                     "non-nulls": len(DataSet)-DataSet.isnull().sum().values,
                     "nulls": DataSet.isnull().sum().values,
                     "type": DataSet.dtypes.values})
    display(Markdown(information_DataSet.to_markdown()))
    print(information_DataSet)
    # Construct rows
    info_list=[]
    for column in DataSet.columns:
        row = [column,
               min(df[column]),
               max(df[column]),
               df[column].nunique(),
               df[column].isna().sum(),
               df.duplicated().sum()
              ]
        info_list.append(row)
    print('DataFrame for information about Dataset Values') 
    # Convert List to DataFrame
    info_df = pd.DataFrame(data = info_list,
                            columns=['Column_name',
                                     'Minimum_value',
                                     'Maximum_value',
                                     'Number_of_unique_records',
                                     'Number_of_null_records',
                                     'Number_of_duplicated_records'
                                    ])
    display(Markdown(info_df.to_markdown()))
    print(info_df)
    print('show data types')
    print(info_df.dtypes)
    print('Remove comment character if you want to proceed Running Ydata Report')
    #pf = ProfileReport(df)
    #if state == 'pre':
    #    pf.to_file('maintenance_BEFORE_pre_process.html')
    #elif state == 'post':
    #    pf.to_file('maintenance_AFTER_pre_process.html')
    #else :
    #    print('for state of analysis, use "pre" or "post"')

In [7]:
# Analyze DataSet before pre processing

In [8]:
analyzeDataSet(df,'pre')

Display data
   # plate number      car    damage type    date in  KMs IN  Fuel in  \
0  1     70-29280   TUCSAN     اصلاح بودي 2015-01-14   23015     0.13
1  2     70-26587  ELANTRA     اصلاح بودي 2015-01-14   43638     0.38
2  3     70-25180   avanza  اصلاح مكانيك  2015-01-14   39880     0.38

  date ready  KMs out  KMs Diff  Fuel out  Fuel Diff  cost  location  \
0 2015-01-18    23030        15      0.13       0.00   150  المركزية
1 2015-01-18    43638         0      0.38       0.00   281  المركزية
2 2015-01-24    39889         9      0.75       0.37    92  المركزية

  corporate delivered by returned by                                   notes
0       Xe       omar m      omar m   اصلاح بودي ضربة باب خلفي شمال المركزية
1       Xe         maen        maen        اصلاح بودي ضربة مرش يمين المركزية
2       Xe     mohamad j   mohamad j                    اصلاح حميان المركزية
Data Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   #             1499 non-null   int64
 1   plate number  1499 non-null   object
 2   car           1499 non-null   object
 3   damage type   1499 non-null   object
 4   date in       1499 non-null   datetime64[ns]
 5   KMs IN        1499 non-null   int64
 6   Fuel in       1499 non-null   float64
 7   date ready    1499 non-null   datetime64[ns]
 8   KMs out       1499 non-null   int64
 9   KMs Diff      1499 non-null   int64
 10  Fuel out      1499 non-null   float64
 11  Fuel Diff     1499 non-null   float64
 12  cost          1499 non-null   int64
 13  location      1499 non-null   object
 14  corporate     1499 non-null   object
 15  delivered by  1499 non-null   object
 16  returned by   1499 non-null   object
 17  notes         1499 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(5), object(8)
memory usage: 210.9+ KB
None
Describe Data
             #     KMs IN  Fuel in    KMs out  KMs Diff  Fuel out  Fuel Diff  \
count  1499.00    1499.00  1499.00    1499.00   1499.00   1499.00    1499.00
mean    750.00   63581.83     0.31   63590.73      8.90      0.31       0.01
std     432.87   40221.63     0.11   40221.53      4.84      0.12       0.04
min       1.00     390.00     0.00     400.00      0.00      0.00      -0.38
25%     375.50   43710.50     0.25   43724.50      6.00      0.25       0.00
50%     750.00   65890.00     0.25   65897.00      9.00      0.25       0.00
75%    1124.50   82080.00     0.38   82088.00     10.00      0.38       0.00
max    1499.00  754935.00     1.00  754945.00     71.00      1.00       0.38

          cost
count  1499.00
mean    107.95
std     166.28
min       2.00
25%      21.00
50%      50.00
75%     102.00
max    2500.00
DataFrame for Information about Dataset

|    | name         |   non-nulls |   nulls | type           |
|---:|:-------------|------------:|--------:|:---------------|
|  0 | #            |        1499 |       0 | int64          |
|  1 | plate number |        1499 |       0 | object         |
|  2 | car          |        1499 |       0 | object         |
|  3 | damage type  |        1499 |       0 | object         |
|  4 | date in      |        1499 |       0 | datetime64[ns] |
|  5 | KMs IN       |        1499 |       0 | int64          |
|  6 | Fuel in      |        1499 |       0 | float64        |
|  7 | date ready   |        1499 |       0 | datetime64[ns] |
|  8 | KMs out      |        1499 |       0 | int64          |
|  9 | KMs Diff     |        1499 |       0 | int64          |
| 10 | Fuel out     |        1499 |       0 | float64        |
| 11 | Fuel Diff    |        1499 |       0 | float64        |
| 12 | cost         |        1499 |       0 | int64          |
| 13 | location     |        1499 |       0 | object         |
| 14 | corporate    |        1499 |       0 | object         |
| 15 | delivered by |        1499 |       0 | object         |
| 16 | returned by  |        1499 |       0 | object         |
| 17 | notes        |        1499 |       0 | object         |

            name  non-nulls  nulls            type
0              #       1499      0           int64
1   plate number       1499      0          object
2            car       1499      0          object
3    damage type       1499      0          object
4        date in       1499      0  datetime64[ns]
5         KMs IN       1499      0           int64
6        Fuel in       1499      0         float64
7     date ready       1499      0  datetime64[ns]
8        KMs out       1499      0           int64
9       KMs Diff       1499      0           int64
10      Fuel out       1499      0         float64
11     Fuel Diff       1499      0         float64
12          cost       1499      0           int64
13      location       1499      0          object
14     corporate       1499      0          object
15  delivered by       1499      0          object
16   returned by       1499      0          object
17         notes       1499      0          object
DataFrame for information about Dataset Values

|    | Column_name   | Minimum_value                        | Maximum_value               |   Number_of_unique_records |   Number_of_null_records |   Number_of_duplicated_records |
|---:|:--------------|:-------------------------------------|:----------------------------|---------------------------:|-------------------------:|-------------------------------:|
|  0 | #             | 1                                    | 1499                        |                       1499 |                        0 |                              0 |
|  1 | plate number  | 70-24337                             | 70-91371                    |                        337 |                        0 |                              0 |
|  2 | car           | Spark                                | yaris                       |                         35 |                        0 |                              0 |
|  3 | damage type   | اصلاح بودي                           | غيار زيت                    |                          8 |                        0 |                              0 |
|  4 | date in       | 2015-01-01 00:00:00                  | 2016-02-03 00:00:00         |                        301 |                        0 |                              0 |
|  5 | KMs IN        | 390                                  | 754935                      |                       1423 |                        0 |                              0 |
|  6 | Fuel in       | 0.0                                  | 1.0                         |                         10 |                        0 |                              0 |
|  7 | date ready    | 2015-01-01 00:00:00                  | 2016-02-03 00:00:00         |                        320 |                        0 |                              0 |
|  8 | KMs out       | 400                                  | 754945                      |                       1427 |                        0 |                              0 |
|  9 | KMs Diff      | 0                                    | 71                          |                         39 |                        0 |                              0 |
| 10 | Fuel out      | 0.0                                  | 1.0                         |                          9 |                        0 |                              0 |
| 11 | Fuel Diff     | -0.38                                | 0.38                        |                         11 |                        0 |                              0 |
| 12 | cost          | 2                                    | 2500                        |                        166 |                        0 |                              0 |
| 13 | location      | 4 جيد                                | هانكونك                     |                         39 |                        0 |                              0 |
| 14 | corporate     | AIG                                  | شركه الهندسه الكهروميكانكيه |                         68 |                        0 |                              0 |
| 15 | delivered by  | ABDALLA                              | omar m                      |                         61 |                        0 |                              0 |
| 16 | returned by   | AHMAD                                | omar m                      |                         70 |                        0 |                              0 |
| 17 | notes         | غيار زيت +فلتر هواء +فلتر كندشن+بريك | ويل بلنس / ترصيص            |                        666 |                        0 |                              0 |

     Column_name                                      Minimum_value  \
0              #                                                  1
1   plate number                                         70-24337
2            car                                        Spark
3    damage type                                         اصلاح بودي
4        date in                                2015-01-01 00:00:00
5         KMs IN                                                390
6        Fuel in                                                0.0
7     date ready                                2015-01-01 00:00:00
8        KMs out                                                400
9       KMs Diff                                                  0
10      Fuel out                                                0.0
11     Fuel Diff                                              -0.38
12          cost                                                  2
13      location                                              4 جيد
14     corporate                                               AIG
15  delivered by                                           ABDALLA
16   returned by                                             AHMAD
17         notes                                                ...

                  Maximum_value  Number_of_unique_records  \
0                          1499                      1499
1                      70-91371                       337
2                         yaris                        35
3                      غيار زيت                         8
4           2016-02-03 00:00:00                       301
5                        754935                      1423
6                           1.0                        10
7           2016-02-03 00:00:00                       320
8                        754945                      1427
9                            71                        39
10                          1.0                         9
11                         0.38                        11
12                         2500                       166
13                      هانكونك                        39
14  شركه الهندسه الكهروميكانكيه                        68
15                       omar m                        61
16                       omar m                        70
17             ويل بلنس / ترصيص                       666

    Number_of_null_records  Number_of_duplicated_records
0                        0                             0
1                        0                             0
2                        0                             0
3                        0                             0
4                        0                             0
5                        0                             0
6                        0                             0
7                        0                             0
8                        0                             0
9                        0                             0
10                       0                             0
11                       0                             0
12                       0                             0
13                       0                             0
14                       0                             0
15                       0                             0
16                       0                             0
17                       0                             0
show data types
Column_name                     object
Minimum_value                   object
Maximum_value                   object
Number_of_unique_records         int64
Number_of_null_records           int64
Number_of_duplicated_records     int64
dtype: object
Remove comment character if you want to proceed Running Ydata Report